body {
  background-color: #4d8d51;
}

.btn-success {
  background-color: #2b2b2b !important;
  border-color: #000000 !important;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #6ccf6d !important;
}

h1 {
  color: #4da85a;
  
}

/*Efecto hover para las cartas de comidas*/
.card:hover {
  transform: translateY(-15px); /* sube un poco */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* sombra más grande */
  transition: all 0.3s ease; /* transición suave */
  background-color: #e0f7e9; /* cambia ligeramente el fondo */
}

footer{
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;

}

nav:hover{
  .ms.auto{
    color: aqua;
  }
}

form{

  .btn btn-success w-100{
    color: #4da85a;
  }
  
}