body {
  background-color: #4d8d51;
  padding-top: 80px;
}

.btn-success {
  background-color: #2b2b2b !important;
  border-color: #000000 !important;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #6ccf6d !important;
}

h1 {
  color: #000000;
  text-align: center;
  
}
nav{
  padding: 30px;
  font-size: 20PX;
  justify-content: center;
  text-align: center;

}

/*Efecto hover para las cartas de comidas*/
.card:hover {
  transform: translateY(-15px); 
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
  transition: all 0.3s ease; 
  background-color: #e0f7e9; 
  justify-items: center;
}


footer {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #000; 
  color: white;
  margin-top: auto; 
  position: static;
}


form{

  .btn btn-success w-100{
    color: #4da85a;
  }
  
}

.btn.btn-outline-success{

background-color:rgb(162, 226, 43)
}